<% include ../partials/header %>

<header class="jumbotron">
	<h1 class="display-3">Welcome To YelpCamp!</h1>
	<p class="lead">View our handpicked campgrounds from all over the world</p>
	<hr class="my-3" />
	<p>
		<a href="/campgrounds/new" class="btn btn-lg btn-outline-primary"
			>Add New Campground</a
		>
	</p>
</header>

<div class="row align-items-center">
	<% campgrounds.forEach(function(campground){ %>
	<div class="col-lg-4 col-md-6 col-sm-6 my-2">
		<div class="card text-center text-white bg-dark border-light">
			<img src="<%= campground.image %>" class="card-img-top" />
			<div class="card-body">
				<h5 class="card-title"><%= campground.name %></h5>
				<p class="card-text">
					<a
						href="campgrounds/<%= campground._id %>"
						class="btn btn-lg btn-outline-info mt-2"
					>
						More Info
					</a>
				</p>
			</div>
		</div>
	</div>
	<% }) %>
</div>

<% include ../partials/footer %>
